/* Hold-over from early styling phase, saving for context  */

.titleContainer {
    background-color:#cee4e4;
    border-bottom: 2px solid #4F49E0;
    color: rgb(28, 26, 81, .8);
    text-align: center;
}

@media (max-width: 330px) {
    .title {
        font-size: 1.5rem;
    }
}

