.greenImageWrapper {
    align-self: flex-start;
    background-color: #C5D2AC;  
    max-width: 40rem;
}

.hairPaintTeenImage {
    composes: greenImageWrapper;
    height: auto;
    padding: 1rem;
    width: auto;
}

.yellowGreenImageWrapper {
    align-self: flex-start;
    background-color: #ABD757;
    max-width: 40rem;
}

.makeupTeensImage {
    composes: yellowGreenImageWrapper;
    height: auto;
    padding: 1rem;
    width: auto;
}

.purpleImageWrapper {
    align-self: flex-start;
    background-color: #B3B1DE;
    max-width: 40rem;
}

.facepaintTeen {
    composes: purpleImageWrapper;
    height: auto;
    margin: 0;
    padding: 1rem;
    width: auto;
}

.blueImageWrapper {
    align-self: flex-start;
    background-color: #98EDED;
    max-width: 40rem;
}

.groupTeens {
    composes: blueImageWrapper;
    height: auto;
    margin: 0;
    padding: 1rem;
    width: auto;
}