.greenImageWrapper {
    align-self: flex-start;
    background-color: #d2d2d2;  
    min-width: 300px;
}

.hairPaintTeenImage {
    composes: greenImageWrapper;
    height: auto;
    padding: 1rem;
    width: auto;
}

.yellowGreenImageWrapper {
    align-self: flex-start;
    background-color: #cfcfcf;
    min-width: 300px;
}

.makeupTeensImage {
    composes: yellowGreenImageWrapper;
    height: auto;
    order: 3;
    padding: 1rem;
    width: auto;
}

.purpleImageWrapper {
    align-self: flex-start;
    background-color: #dddddd;
    min-width: 300px;
}

.facepaintTeen {
    composes: purpleImageWrapper;
    height: auto;
    margin: 0;
    padding: 1rem;
    width: auto;
}

.blueImageWrapper {
    align-self: flex-start;
    background-color: #ebebeb;
    min-width: 300px;
}

.groupTeens {
    composes: blueImageWrapper;
    height: auto;
    margin: 0;
    padding: 1rem;
    width: auto;
}


@media (max-width: 400px) {
    .greenImageWrapper,
    .yellowGreenImageWrapper,
    .purpleImageWrapper,
    .blueImageWrapper {
        min-width: 13rem;
    }
    
    .hairPaintTeenImage,
    .makeupTeensImage,
    .facepaintTeen,
    .groupTeens {
        padding: .5rem;
    }
    
    .makeupTeensImage {
        composes: yellowGreenImageWrapper;
        order: 2;
        width: auto;
    }
}

@media (min-width: 600px) {
    .greenImageWrapper,
    .yellowGreenImageWrapper,
    .purpleImageWrapper,
    .blueImageWrapper {
        min-width: 30rem;
    }

    .makeupTeensImage {
        composes: yellowGreenImageWrapper;
        order: 2;
        padding: 1rem;
        width: auto;
    }
}
/* swith this to flex box controlled sizes:  */
@media (min-width: 800px) {
    .makeupTeensImage {
        composes: yellowGreenImageWrapper;
        order: 3;
        padding: 1rem;
        max-width: 20rem;
    }

    .facepaintTeen {
        max-width: 18rem;
    }
}