.navContainer {
    background-color: #e4e4e4;
    border-bottom: 2px solid #e1e1e1;
    font-size: .8rem;
    font-weight: 600;
    max-width: 360px;
    padding: .8rem 0;
}

.navContentWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}

.linkContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.linkButton {
    background-color: inherit;
    border: none;
    color:#4d4d4d;
    font-style: inherit;
    padding: 0;
}

.headerIcon {
    align-self: center;
    margin: 0;
    padding: 0;
}

@media (max-width: 300px) {
    .navContentWrapper {
        font-size: .7rem;
    }
}
@media (max-width: 360px) {
    .navContainer {
        font-size: .8rem;
    }
}

@media (min-width: 361px) {
    .navContainer {
        background-color: #e4e4e4;
        border-bottom: 2px solid #cccccc;
        font-size: 1rem;
        font-weight: 600;
        padding: .6rem 0;
        min-width: 100vw;
    }

    .navContentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 100vw;
    }

    .linkContainer {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 500px) {
    .navContainer {
        font-size: 1rem;
        min-width: 100vw;
    }

    .navContentWrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 100vw;
    }

    .linkContainer {
        align-items: flex-start;
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 1000px) {
    .navContainer,
    .navContentWrapper,
    .linkContainer {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .navContentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}