.navContainer {
    background-color: #c1c0e3;
    border-bottom: 2px solid #1c1a51cc;
    font-size: .8rem;
    font-weight: 600;
    max-width: 360px;
    padding: .8rem 0;
}

.navContentWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}

.linkContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: space-evenly;
    margin: 0;
    padding: .5rem 0;
}

.linkButton {
    background-color: inherit;
    border: none;
    color:#1c1a51;
    cursor: pointer;
    font-style: inherit;
    padding: .1rem;
    margin: 0;
}

.navIcon {
    align-self: center;
    color: #7975e1;
    margin: 0;
    padding: 0;
}

@media (max-width: 340px) {
    .navContentWrapper {
        font-size: .7rem;
        justify-content: space-evenly;
        padding: 0;
    }

    .linkContainer {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        font-size: .5rem;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 379px) {
    .navContainer {
        font-size: .8rem;
    }

    .linkContainer {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        font-size: .7rem;
        gap: 1rem;
        margin-left: .1rem;
        padding: 0;
    }
}

@media (min-width: 380px) {
    .navContainer {
        background-color: #c1c0e3;
        border-bottom: 2px solid #1c1a51cc;
        font-size: 1rem;
        font-weight: 600;
        padding: .6rem 0;
        max-width: 100vw;
    }

    .navContentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100vw;
    }

    .linkContainer {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        font-size: .8rem;
        gap: 1rem;
        margin-left: .1rem;
        padding: 0;
    }
}

@media (min-width: 500px) {
    .navContainer {
        font-size: 1rem;
        max-width: 100vw;
    }

    .navContentWrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100vw;
    }

    .linkContainer {
        align-items: flex-start;
        display: flex;
        font-size: 1rem;
        gap: 2rem;
        margin: 0;
        margin-left: .3rem;
        padding: 0;
    }
}

@media (min-width: 600px) {
    .navContainer,
    .navContentWrapper,
    .linkContainer {
        font-size: 1.2rem;
        font-weight: 600;
        min-width: 90vw;
    }

    .navContentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 90vw;
    }

    .linkContainer {
        align-items: flex-start;
        display: flex;
        font-size: 1rem;
        gap: 3rem;
        margin: 0;
        margin-left: .5rem;
        min-width: 90vw;
        padding: 0;
    }
}

@media (min-width: 1000px) {
    .navContainer,
    .navContentWrapper,
    .linkContainer {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .navContentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .linkContainer {
        align-items: flex-start;
        display: flex;
        font-size: 1.2rem;
        gap: 3rem;
        margin: 0;
        margin-left: .5rem;
        padding: 0;
    }
}