.review {
  border: #E9007E solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.invitation {
  font-size: 1.2rem;
}

.plea {
  text-align: center;
  font-size: 1rem;
}

.rating {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.icon {
  height: 46px;
  width: 46px;
  margin: 1rem;
}

.submit {
  background-color: #ABD757;
  border: 1px solid #066161;
  border-radius: 2px;
  color: #066161;
  font-size: 1rem;
  width: 10rem;
  margin: 1rem;
}

.label {
  font-size: 1rem;
  color: #066161;
  /* width: 60vw; */
}