.review {
  border: #E9007E solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.invitation {
  font-size: 1.2rem;
}

.plea {
  text-align: center;
  font-size: 1rem;
}

.rating {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.icon {
  aspect-ratio: 1 / 1;
  height:3rem;
  width: 3rem;
  margin: 1rem;
}

.rangeInput {
  color: #4F49E0;
  width: 12rem;
}

.submit {
  background-color: #ABD757;
  border: 1px solid #066161;
  border-radius: 2px;
  color: #066161;
  font-size: 1rem;
  width: 10rem;
  margin: 1rem;
}

.label {
  font-size: 1rem;
  color: #066161;
  /* width: 60vw; */
}

@media (max-width: 400px ){ 
  .review {
    border: #E9007E solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
  }

  .icon {
    aspect-ratio: 1 / 1;
    height:2rem;
    width: 2rem;
    margin: .5rem;
  }

  .rangeInput {
    color: #4F49E0;
    width: 8rem;
  }
}