.listItemContainer {
    background-color: #f7f7f7;
    border: 1px solid #535353;
    border-radius: .1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    max-width: 25rem;
    padding: .3rem;
    text-decoration: none;
}

.linkText {
    color: #272727;
    text-decoration: none;
}

.icon {
    align-self: baseline;
    background-color: inherit;
    display: block;
    height: 1.2em;
    padding: 0;
    width: 1.2em;
}

.validateIcon {
    composes: icon;
    color: #686868;
}

.notValidatedIcon {
    composes: icon;
    color: rgba(114, 114, 114, 0.5);
}
@media (max-width: 350px) {
    .listItemContainer {
        background-color: #f7f7f7;
        border: 1px solid #535353;
        border-radius: .1rem;
        display: flex;
        flex-direction: row;
        font-size: .8rem;
        justify-content: space-between;
        margin-bottom: 1rem;
        max-width: 25rem;
        padding: .3rem;
        text-decoration: none;
    }
}

@media (min-width: 800px) {
    .listItemContainer {
        background-color: #f7f7f7;
        border: 1px solid #535353;
        border-radius: .2rem;
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        justify-content: space-between;
        margin-bottom: 1rem;
        max-width: 25rem;
        padding: .5rem;
        text-decoration: none;
    }
}