.main {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    padding: 0 1rem;
}

.pinkPTag {
    color: #E9007E;
    font-weight: 700;
}

.greenPTag {
    color: #066161;
    font-weight: 600;
}

.purplePTag {
    color: #4F49E0;
    font-weight: 700;
}

.greenPTagThin {
    color: #066161;
    font-weight: 400;
}