.main {
    background-color: #F3F1FE;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: inherit;
    justify-content: flex-start;
    padding: 0 1rem;
}

/* //---header--- */
.header {
    background-color: #8e8afe;
    border-bottom: 2px solid #4F49E0;
    max-width: 100vw;
}

.headerWrapper {
    padding: 0 1rem;
}

.headerLinkButton {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.title {
    color: rgb(28, 26, 81, .8);
    font-weight: 600;
    padding: .5rem 0;
}

.titleDescription {
    font-size: 1rem;
    font-weight: 300;
}

.linkWidth {
    max-width: 12rem;
}

.buttonLink {
    background-color: #E5ABCA;
    border: 1px solid #660137;
    border-radius: .2rem;
    color: #660137;
    cursor: pointer;
    font: inherit;
    font-size: 1.2rem;
    margin: .2rem;
    padding: 1rem;
    width: 12rem;;
}

/* //---txt-styling---- */
.h2Styling {
    /* color: #1c1a51; */
    color: #660137;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}

.mainPagePTag3 {
    /* background-color: #e5abd5; */
    color: #066161;
    font-weight: 700;
}

.mainPagePTag2 {
    /* background-color:#bacaff; */
    color: #E9007E;
    font-size: 1.5rem;
    font-weight: 600;
    order: 3;
}

.mainPagePTag1 {
    /* background-color: #98EDED;
    border: 2px solid #ABD757; */
    font-weight: 700;
    order: 1;
}

.greenPTagThin {
    color: #066161;
    font-weight: 400;
}

/* ---media-queries--------- */
@media (min-width: 400px) {
    .main {
        display: flex;
        flex: 1;
        flex-direction: column;
        font-family: inherit;
        gap: 1rem;
        justify-content: flex-start;
        margin: .8rem;
        padding: 0;
    }

    .mainPagePTag1,
    .mainPagePTag2,
    .mainPagePTag3 {
        margin: .5rem 0;
    }

    .h2Styling {
        color: #660137;
        font-size: 1.8rem;
        font-weight: 600, 0;
        margin: 1rem;
        margin-left: 0;
        padding-left: .1rem;
    }
}

@media (max-width: 799px) {
    .mainContentTop,
    .mainContentBottom,
    .mainContentTop2,
    .mainContentBottom2 {
        display: flex;
        flex-direction: column;
        margin: 0;
        max-height: 50%;
        padding: 0;
    }
}

@media (min-width: 800px) {
    .main {
        display: flex;
        flex: 1;
        flex-direction: column;
        font-family: inherit;
        justify-content: flex-start;
        margin: 1rem;
        padding: 0;
    }

    .mainContentTop,
    .mainContentBottom,
    .mainContentTop2,
    .mainContentBottom2 {
        display: flex;
        gap: 1rem;
        /* max-height: 40%; */
    }
    
    .textWrapper {
        background-color: #F3F1FE;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 1rem;
        max-width: 30%;
        padding: 1.5rem;
    }
    
    .textWrapper2 {
        background-color: #d3d3d3;
        padding: 1rem;
    }

    .buttonBox {
        display: flex;
        flex-direction: column;
    }

    .boxLowerRight {
        composes: buttonBox;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
    }

    .mainPagePTag1 {
        /* background-color: #98EDED;
        border: 1px solid #ABD757; */
        color: #066161;
        flex: .6;
        font-weight: 700;
        margin: .5rem;
        order: 1;
        padding: 1rem;
    }

    .mainPagePTag2 {
        /* margin-left: 2rem; */
        order: 2;
        padding: 1rem;
        /* padding-left: 2rem; */
    }

    .mainPagePTag3 {
        /* background-color: #e5abd5; */
        color: #066161;
        flex: .5;
        font-size: 1.5rem;
        /* margin: 2rem; */
        /* margin-bottom: 8rem; */
        /* padding: 1rem; */
    }

    .bluePTag {
        /* background-color: #d6d6d6; */
        margin: .5rem;
        padding: 1rem;
    }

    .h2Styling {
        color: #660137;
        font-size: 2.2rem;
        font-weight: 800;
        margin: 1rem;
        margin-left: 0;
        padding-left: .1rem;
    }
}