.listItemContainer {
    background-color: #ededed;
    border: 1px solid #5c5c5c;
    border-radius: .1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    max-width: 25rem;
    padding: .3rem;
    text-decoration: none;
} 
 
.linkText {
    color: #2d2d2d;
    text-decoration: none;
} 

.icon {
    align-self: baseline;
    background-color: inherit;
    display: block;
    height: 1.2em;
    padding: 0;
    width: 1.2em;
}

.validateIcon {
    composes: icon;
    color: #545454;
}

.notValidatedIcon {
    composes: icon;
    color: rgba(66, 66, 66, 0.5);
}