
@media (min-width: 800px) {
    .stacked {
        display: grid;
    }
    
    .stackedChild {
        composes: stacked;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    
    
    .grid {
        composes: stackedChild;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
    }
}

@media (max-width: 300px) {
    
}