.formContainer {
    background-color: #d2d2d2;
    border: 1px solid rgba(22, 22, 22, 0.6);
    border-radius: .1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    max-width: 340px;
}

.formHeading {
    color:rgba(22, 22, 22, 0.8);
}

.inputContainer {
    color: #4f4f4f;
}

.formInput {
    background-color: #e3e3e3;
    border: 1px solid #5e5e5e;
    border-radius: .1rem;
    color: rgb(28, 26, 81);
    font: inherit;
    margin: .2rem;
    /* min-width: 10rem; */
}

.button {
    background-color: #989898;
    border: 1px solid #484848;
    border-radius: .1rem;
    color: #3f3f3f;
    font: inherit;
    margin: .2rem;
    width: 8rem;
}

.button:disabled {
    border: none;
    color: rgb(28, 26, 81, .6);

}

@media (min-width: 340px) {
    .formInput {
        background-color: #e3e3e3;
        border: 1px solid #5e5e5e;
        border-radius: .1rem;
        color: rgb(28, 26, 81);
        font: inherit;
        margin: .2rem;
        min-width: 15rem;
    }
}

@media (min-width: 500px) {
    
}