.name {
  font-size: 30px;
}

.address {
  font-size: 22px;
}

.icons {
  height: 60px;
  width: 60px;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: #ABD757 solid 3px;
  height: 30vh;
  width: 90vw;
}

.scores {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 34px;
  text-align: center;
}

.verify {
  font-size: 12px;
  text-align: center;
}